include vars.pug

mixin listItem(name, link) 
    li
        a(href=link) #{name}

div.container
    div.row
        div.col-md-12
            footer.main
                div.row
                    div.col-md-3
                        p
                            strong Kinderpraktijk de puzzel
                        ul.list-unstyled
                            each m in menu
                                +listItem(m.title, m.link)
                    div.col-md-3
                        p
                            strong Therapie mogelijkheden
                        ul.list-unstyled
                            each val in diensten
                                +listItem(val.title, val.link)
                    div.col-md-3
                        p
                            strong Contact
                        ul.list-unstyled
                            li #{address.email}
                            li #{address.street}
                            li #{address.phone}
                    div.col-md-3
                        p.text-right
                            strong 
                                a(href="#") &uarr; top